.pagination {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    font-size: 1.3rem;
    color: #9eabb3;
    text-align: center;
}

.pagination a {
    color: #9eabb3;
    transition: all .2s ease;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts, .older-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #ddd 1px dashed;
    text-decoration: none;
    transition: border .3s ease;
}

.newer-posts {
    left: 0;
}

.older-posts {
    right: 0;
}

.site-footer {
    padding-bottom: 20px !important;
}

.nav-current a:visited {
    color: yellow;
}

@media (min-width: 900px) {
    .ctsingle .post-feed {
        margin-top: -70px;
        padding-top: 0;
    }

    .ctsingle .site-nav {
        position: relative;
        top: -70px;
    }
}

@media (min-width: 795px) {
    .ctsingle .post-feed p {
        font-size: 1.8rem;
        line-height: 1.55em;
    }
}

@media (max-width: 650px) {
    .hide {
        display: none !important;
    }

    .copyright {
        text-align: center;
    }
}

.post-full-content pre code {
    color: #e5eff5;
}

.post-mentions {
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid #AEADAD;
    border-bottom: 1px solid #AEADAD;
    font-size: 16px;
}

.post-mentions ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.post-full-content figcaption h4 {
    text-align: center;
    font-size: 85%;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 1em;
}

.reading-time {

}

img.avatar {
    width: 128px;
    height: auto;
}


@media (min-width: 620px) {
    .photo-grid {
        column-count: 2;
        column-gap: 0;
    }

    section {
        break-inside: avoid;
    }
}

@media (min-width: 960px) {
    .photo-grid {
        column-count: 3;
        column-gap: 0;
    }
}

.photo-grid-card {
    column-count: 2;
    column-gap: 1px;
}

.photo-grid-card > .post-card-image {
    margin-bottom: 1px;
}


.photo-cell:first-child {
    margin-top: 0;
}

.photo-cell {
    background-color: white;
    margin-bottom: 1vw;
    display: block;
}

.responsive-image {
    max-width: 100%;
}

.photo-cell {
    margin: 1rem;
}

.photo-cell img {
    display: block;
}

#search {
    padding: 0;
}

#search input[type=submit] {
    color: blue;
    display: none;
    padding: 0;
    border: 0;
}

#search input[type=search] {
    border-right: 0;
}
