{{ define "main" }}

<body class="post-template">
<div class="site-wrapper">

    {{ partial "header-sori" . }}
    <p> Single </p>
    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">

            {{ partial "post-single-sori" . }}

            {{ partial "disqus" . }}
        </div>
    </main>

    <aside class="read-next outer">
        <div class="inner">
            <div class="read-next-feed">
                {{ partial "readnext-random-sori" . }}
                {{with .NextInSection}}
                {{ partial "article-card" . }}
                {{end}}
                {{with .PrevInSection}}
                {{ partial "article-card" . }}
                {{end}}
            </div>
        </div>
    </aside>

    {{ partial "header-floating-sori" . }}

    {{ partial "footer" . }}
</div>
{{ partial "js" . }}
{{ partial "js-sori" . }}
</body>

{{ end }}

