<footer class="site-footer outer">
    <div class="site-footer-content inner">
        {{ if .Site.Params.IndieWeb }}
        <div class="h-card vcard">
            <p>
                <a style="text-decoration: none" href="{{ .Site.BaseURL }}" class="p-name u-url url author metatag"
                   rel="me">
                    {{ .Site.Author.name }}
                </a> /
                <a class="u-email email metatag" rel="me" href="mailto:{{ .Site.Author.email }}">
                    Email Me
                </a>
            </p>
            <p>
                <img class="u-photo avatar" src="{{ .Site.Author.avatar }}" alt="Avatar"/>
            </p>
            <p>
                <span class="p-locality">{{ .Site.Params.IndieWeb.City }}</span>,
                <span class="p-country-name">{{ .Site.Params.IndieWeb.Country }}</span><br/>
            </p>
        </div>
        {{ end }}

        <section class="copyright" style="line-height: 1.3em;">
            <a href="/">{{.Site.Params.orgName}}</a> {{.Site.Params.copyright}} <br>
        </section>
        <nav class="site-footer-nav">
            <a href="/archive">Archives</a>
            {{with .Site.Params.keybaseName}}<a href="https://keybase.io/{{.}}" target="_blank"
                                                rel="me">Keybase</a>{{end}}
            {{with .Site.Params.fbName}}<a href="https://www.facebook.com/{{.}}" target="_blank"
                                           rel="me">Facebook</a>{{end}}
            {{with .Site.Params.twitterName}}<a href="https://twitter.com/{{.}}" target="_blank" rel="me">Twitter</a>{{end}}
            {{with .Site.Params.githubName}}<a href="https://github.com/{{.}}" target="_blank" rel="me">Github</a>{{end}}
            {{with .Site.Params.flickrName}}<a href="https://flickr.com/people/{{.}}" target="_blank" rel="me">Flickr</a>{{end}}
            {{with .Site.Params.linkedinName}}<a href="https://www.linkedin.com/in/{{.}}" target="_blank"
                                                 rel="me">LinkedIn</a>{{end}}
            {{with .Site.Params.mediumName}}<a href="https://medium.com/@{{.}}" target="_blank"
                                               rel="me">Medium</a>{{end}}
        </nav>
    </div>
</footer>
