<header class="site-header outer " {{if .Site.Params.cover}}style="background-image: url({{.Site.Params.cover | absURL}})" {{end}}>
    <div class="inner">
        <nav class="site-nav">
            <div class="site-nav-left">
                {{ if .Site.Params.logo }}
                <a class="site-nav-logo" href="#"><img src="{{ .Site.Params.logo  | absURL}}" alt="{{ .Site.Params.Title }}"/></a>
                {{end}}

                {{ partial "site-menu" . }}
            </div>


            {{ partial "site-nav-right" . }}

        </nav>

        <div class="site-header-content">
            <h1 class="site-title">{{.Title}}</h1>{{$.Scratch.Set "total" (len .Pages)}}
            header-sori-tag
            <h2 class="site-description">
                {{if ge ($.Scratch.Get "total") 2 }}A collection of {{$.Scratch.Get "total"}} posts
                {{else}}{{$.Scratch.Get "total"}} post{{end}}
            </h2>
        </div>
    </div>
</header>
