<header class="site-header outer " {{if .Site.Params.cover}}style="background-image: url({{.Site.Params.cover | absURL}})" {{end}}>
    <div class="inner">

        {{ $style := (print "header-content-" (.Scratch.Get "header-style")) }}

        <div class="site-header-content">
            {{ partial $style . }}
        </div>

        <nav class="site-nav">
            <div class="site-nav-left">
                {{ partial "site-menu" . }}
            </div>



            {{ partial "site-nav-right" . }}

        </nav>

    </div>
</header>
