{{ define "template" }}
  {{ partial "show-template" (dict "Which" .Kind "Template" "layouts/partials/post-single-sori.html") }}
{{ end }}
{{ $section := .Site.GetPage "section" .Section }}
<article class="post-full post h-entry">
    <header class="post-full-header">
        <section class="post-full-meta">
            <div>
                <a class="u-url" href="{{ .Permalink }}">
                    <time class="post-full-meta-date dt-published" datetime="{{.Date.Format " 2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>
                </a>
                {{if .Params.tags }}
                <span class="date-divider">/</span>
                {{ range $index, $tag := .Params.tags }}
                <a href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">#{{$tag}}</a>&nbsp;
                {{end}}
                {{ end }}
            </div>
        </section>
        <section class="post-full-meta">
            {{/*
            Show "reading time" and "word count" but only if one of the following are true:
            1) A global config `params` value is set `show_reading_time = true`
            2) A section front matter value is set `show_reading_time = true`
            3) A page front matter value is set `show_reading_time = true`
            */}}
            {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
            <div class="reading-time">
                <span>{{ .WordCount}} words</span>
                <span>&mdash; {{ .ReadingTime}} minutes read</span>
            </div>

            {{ end }}
        </section>
        <h1 class="post-full-title p-name">{{.Title}}</h1>
    </header>
    {{if .Params.image}}
    {{ $img := resources.Get .Params.image }}
    {{ with $img }}
        <figure class="post-card-image" style="background-image: url({{ (.Fill "1200x600").Permalink }})">
        </figure>
    {{ end }}

    {{else}}
        <figure class="post-card-image"
                style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)">
        </figure>
    {{end}}

    <section class="post-full-content">
        <div class="kg-card-markdown e-content">
            {{ .Content }}
        </div>
    </section>

    <div class="post-mentions" id="post-mentions" style="display:none">
        <ul class="mentions-list" id="mentions-list"></ul>
    </div>

    <footer class="post-full-footer">
        <section class="author-card">
            <section class="author-card-content">
                <span class="author-card-name p-author">{{.Params.author | default .Site.Params.Author.name}}</span>
                <p>{{.Params.authorDescription | default .Site.Params.Author.description}}</p>
            </section>
        </section>
    </footer>
</article>
