<article class="post-full post h-entry">
    <header class="post-full-header">
        <section class="post-full-meta">
            <a class="u-url" href="{{ .Permalink }}">
                <time class="post-full-meta-date dt-published" datetime="{{.Date.Format " 2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>
            </a>
            {{if .Params.tags }}
                <span class="date-divider">/</span>
                {{ range $index, $tag := .Params.tags }}
                    {{if lt $index 2}}
                        <a href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">#{{$tag}}</a>&nbsp;
                    {{end}}
                {{end}}
            {{ end }}
        </section>
        <h1 class="post-full-title p-name">{{.Title}}</h1>
    </header>
    {{if .Params.image}}
        <figure class="post-card-image" style="background-image: url({{.Params.image | absURL}})">
        </figure>
    {{else}}
        <figure class="post-card-image"
                style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)">
        </figure>
    {{end}}

    <section class="post-full-content">
        <div class="kg-card-markdown e-content">
            {{ .Content }}
        </div>
    </section>

    <footer class="post-full-footer">
        <section class="author-card">
            {{ if .Site.Author.avatar }}
            <img class="author-profile-image"
                 src="{{ (.Params.authorAvatar | default .Site.Author.avatar) | absURL}}" alt="Author"/>
            {{ end }}
            <section class="author-card-content">
                <span class="author-card-name p-author">{{.Params.author | default .Site.Author.name}}</span>
                <p>{{.Params.authorDescription | default .Site.Author.description}}</p>
            </section>
        </section>
    </footer>
</article>
